.note {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 2px dashed var(--gray);
  border-left: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
  width: 80%;
}

.note__container {
  width: 95%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow-x: hidden;
}

.note__advice {
  position: absolute;
  top: 0;
  right: 0;
  font: 1rem var(--text);
  color: var(--alert);
}

.note__text {
  font: 1.4rem var(--text);
  color: var(--dark);
}

@media (max-width: 1279px) {
  .note__advice {
    display: none;
  }
}
