.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
  animation: fadeIn 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
