.header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--light);
  border-bottom: 2px dashed var(--gray);
}

.header__logo {
  color: var(--primary);
  font: 2rem var(--title);
}
