.statistics {
  height: 21rem;
  width: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border: 1px solid var(--gray);
  border-radius: 0.2rem;
  padding: 0.5rem;
  animation: fadeIn ease 0.8s;
  transition: ease 0.3s;
}

.statistics:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.statistics__container {
  height: 20rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.statistics__title {
  font: 1.2rem var(--text);
}

.statistics__info {
  font: 1rem var(--text);
}

.pipe {
  width: 1rem;
  background-color: var(--accept);
}

#pipe--blue {
  background-color: var(--blue);
}

#pipe--red {
  background-color: var(--primary);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 580px) and (max-width: 767px) {
  .statistics {
    width: 35rem;
    padding: 0;
  }

  .statistics__title {
    display: none;
  }

  .statistics__container {
    width: 11rem;
  }
}

@media (min-width: 480px) and (max-width: 579px) {
  .statistics {
    width: 28rem;
    padding: 0;
  }

  .statistics__title {
    display: none;
  }

  .statistics__container {
    width: 9.3rem;
  }
}

@media (max-width: 479px) {
  .statistics {
    width: 17rem;
    padding: 0;
    height: 16rem;
  }

  .statistics__title {
    font: 1rem var(--text);
    margin: 0 0.2rem;
  }

  .statistics__info {
    display: none;
  }

  .statistics__container {
    width: 9.3rem;
    height: 14rem;
  }
}
